/*=============================================
=            footer            =
=============================================*/
footer {
  border-top: 1px solid lighten($mainBgColor, 3%);
  position: relative;
  z-index: 2;
  padding: 30px 0;
  .content {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    color: $minorTxtColor;
    font-size: 14px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    @include large {
      padding: 0 15px;
    }
    @include medium {
      padding: 0 0px;
    }
    @include small {
      padding: 0 5px;
      flex-direction: column-reverse;
    }
    @include extraSmall {
      padding: 0 5px;
      flex-direction: column-reverse;
    }
  }
  .copyright-text {
    @include small {
      margin-bottom: 5px;
    }
    @include extraSmall {
      margin-bottom: 5px;
      line-height: 1.5;
      text-align: center;
    }
    i {
      margin: 0 3px;
    }
    a {
      font-family: 'Rubik', Helvetica, Arial, sans-serif;
      font-weight: 600;
      color: $minorTxtColor;
      transition: 0.4s;
      &:hover {
        color: $mainColor;
      }
    }
  }
  ul.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    @include small {
      margin-bottom: 5px;
    }
    @include extraSmall {
      margin-bottom: 10px;
    }
    li {
      display: block;
      margin-bottom: 2px;
      margin-left: 10px;
      @include extraSmall {
        margin-left: 15px;
      }
      &:first-child {
        margin-left: 0;
      }
    }
    a {
      width: 46px;
      height: 46px;
      border-radius: 100%;
      color: $minorTxtColor;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      transition: all 0.5s ease;
      @include extraSmall {
        width: 42px;
        height: 42px;
      }
      i {
        font-size: 22px;
        @include extraSmall {
          font-size: 26px;
        }
      }
      &:hover {
        color: $mainColor;
      }
    }
  }
}
