/*=============================================
=            interactive           =
=============================================*/
.transition-dot {
  width: 100%;
  height: 100vh;
  .block {
    width: 100%;
    height: 100vh;
    background-color: $mainBgColor;
  }
  .round-dot {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to top, #12c2e9, #c471ed, #f64f59);
    @include extraSmall {
      left: 44%;
    }
  }
}

#interactive-inner {
  position: relative;
  margin-bottom: 150px;
  @include extraSmall {
    margin-bottom: 90px;
  }
  .info {
    text-align: center;
    margin: 0 0 30px;
    P {
      font-size: 20px;
      line-height: 1.5;
      @include medium {
        font-size: 18px;
      }
      @include small {
        font-size: 18px;
      }
      @include extraSmall {
        font-size: 16px;
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  .slide-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    .fist-hit {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 266px;
        @include small {
          width: 240px;
        }
        @include extraSmall {
          width: 145px;
        }
      }
    }
    .fist-bump {
      display: flex;
      justify-content: center;
      align-items: center;
      .left {
        width: 50%;
        text-align: right;
      }
      .right {
        width: 50%;
        text-align: left;
      }
      img {
        width: 280px;
        height: auto;
        @include small {
          width: 260px;
        }
        @include extraSmall {
          width: 165px;
        }
      }
    }
  }

  .title-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    opacity: 0;
    transform: scale(0.5);
    @include small {
      margin-top: 80px;
    }
    @include extraSmall {
      margin-top: 80px;
      flex-direction: column;
    }
    .job-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      .chinese {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 8px;
        color: $mainColor;
        @include small {
          font-size: 18px;
          letter-spacing: 6px;
        }
        @include extraSmall {
          font-size: 18px;
          letter-spacing: 6px;
        }
      }
    }
    .title {
      position: relative;
      width: 380px;
      @include large {
        width: 330px;
      }
      @include medium {
        width: 330px;
      }
      @include small {
        width: 230px;
      }
      @include extraSmall {
        width: 100%;
      }
    }
    p {
      font-size: 48px;
      font-weight: 800;
      letter-spacing: 3px;
      color: $mainTxtColor;
      font-family: 'Bebas Neue', cursive;
      @include large {
        font-size: 42px;
      }
      @include medium {
        font-size: 38px;
      }
      @include small {
        font-size: 32px;
      }
      @include extraSmall {
        font-size: 8vmin;
      }
    }
    p.skill {
      font-size: 102px;
      line-height: 102px;
      font-weight: 800;
      letter-spacing: 3px;
      color: $mainTxtColor;
      font-family: 'Bebas Neue', cursive;
      @include large {
        font-size: 92px;
        line-height: 92px;
      }
      @include medium {
        font-size: 82px;
        line-height: 82px;
      }
      @include small {
        font-size: 68px;
        line-height: 68px;
      }
      @include extraSmall {
        font-size: 22vmin;
        line-height: 22vmin;
      }
    }
    .center {
      p {
        font-size: 120px;
        font-weight: 600;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        margin: 0 15px;
        opacity: 0.15;
        @include small {
          font-size: 72px;
          margin: 0 7px;
        }
        @include extraSmall {
          font-size: 62px;
          margin: 12px 0;
        }
      }
    }
  }
  .topic-name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    margin-top: 60px;
    @include small {
      padding-top: 80px;
    }
    @include extraSmall {
      padding-top: 50px;
    }
    h6 {
      color: #18ade4;
      font-family: 'Bebas Neue', cursive;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 20px;
      z-index: 5;
      @include extraSmall {
        font-size: 16px;
      }
    }
    h2.topic-name {
      scale: 1.5;
      opacity: 0;
      font-size: 112px;
      line-height: 112px;
      text-align: center;
      font-family: 'Cubic', sans-serif;
      font-weight: 600;
      background-image: linear-gradient(to top, #17c0e9, #c96ddd, #f45162);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      z-index: 5;
      @include medium {
        font-size: 92px;
        line-height: 92px;
      }
      @include small {
        font-size: 92px;
        line-height: 92px;
      }
      @include extraSmall {
        font-size: 18vmin;
        line-height: normal;
      }
      &::before {
        content: attr(data-text);
        position: absolute;
        left: -2px;
        top: 0;
        background-image: linear-gradient(to top, #17c0e9, #c96ddd, #f45162);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: transparent;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise2 3s infinite linear alternate-reverse;
      }
      &::after {
        content: attr(data-text);
        position: absolute;
        left: -2px;
        top: 0;
        background-image: linear-gradient(to top, #17c0e9, #c96ddd, #f45162);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: transparent;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise 2s infinite linear alternate-reverse;
      }
      &#topic-name-pre {
        margin-bottom: 15px;
        @include extraSmall {
          margin-bottom: 7px;
        }
      }
    }
  }
  .grid-overlay {
    position: absolute;
    left: 0;
    bottom: 180px;
    width: 100%;
    height: auto;
    border-radius: inherit;
    @include extraSmall {
      bottom: 210px;
    }
    .grid-wrapper {
      position: relative;
    }
    .grid {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 300px;
      overflow: hidden;
      perspective: 300px;
      &.grid-ibf {
        // (ibf) Ion Beam Figuring
        z-index: 2;
      }
      .grid-fade {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: radial-gradient(ellipse at 50% 50%, rgba(1, 0, 2, 0) 0%, $mainBgColor 80%);
      }
      .grid-lines {
        width: 100%;
        height: 200%;
        background-image: linear-gradient(to right, rgba(153, 153, 153, 0.85) 1px, transparent 0),
          linear-gradient(to bottom, rgba(153, 153, 153, 0.85) 1px, transparent 0);
        background-size: 45px 30px;
        background-repeat: repeat;
        transform-origin: 100% 0 0;
        opacity: 0.5;
        animation: gridAni 15s linear infinite;
      }
    }
  }
}
