/*=============================================
=            rule            =
=============================================*/
section#rule {
  text-align: center;
  position: relative;
  padding-bottom: 200px;
  @include large {
    padding-bottom: 120px;
  }
  @include medium {
    padding-bottom: 100px;
  }
  @include small {
    padding-bottom: 100px;
  }
  @include extraSmall {
    padding-bottom: 100px;
  }
  .timeline-wrapper {
    position: relative;
    max-width: 1170px;
    margin: 80px auto 170px auto;
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    @include medium {
      max-width: 590px;
      display: block;
    }
    @include small {
      max-width: 590px;
      display: block;
    }
    @include extraSmall {
      max-width: 575px;
      display: block;
      margin: 80px auto 120px auto;
    }
  }
  .vertical-line {
    display: block;
    width: 2px;
    background: $mainColor;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -1px;
    top: -100px;
    z-index: 1;
    @include medium {
      left: 0;
      margin-left: 0;
    }
    @include small {
      left: 0;
      margin-left: 0;
    }
    @include extraSmall {
      left: 1px;
      margin-left: 0;
    }
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: $mainColor;
      left: -9px;
      top: -10px;
      @include extraSmall {
        width: 15px;
        height: 15px;
        left: -7px;
        top: -5px;
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: $mainColor;
      left: -9px;
      bottom: -5px;
      @include extraSmall {
        width: 15px;
        height: 15px;
        left: -7px;
      }
    }
    .ripple {
      width: 20px;
      height: 20px;
      left: -9px;
      bottom: -5px;
      position: absolute;
      border-radius: 100%;
      @include extraSmall {
        width: 15px;
        height: 15px;
        left: -7px;
      }
      &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: $mainColor;
        left: 0px;
        bottom: 0px;
        box-shadow: 0 0 0 0 rgba(255, 138, 230, 0.3);
        animation: ripple 2s infinite;
        animation-delay: 0.4s;
        @include extraSmall {
          width: 15px;
          height: 15px;
        }
      }
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background: $mainColor;
        left: 0px;
        bottom: 0px;
        box-shadow: 0 0 0 0 rgba(255, 138, 230, 0.3);
        animation: ripple 2s infinite;
        animation-delay: 0.8s;
        @include extraSmall {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
  .rule-item {
    width: 50%;
    height: 278px;
    max-width: 535px;
    margin-bottom: calc(278px + 4px);
    padding: 30px 30px;
    border-radius: 5px;
    border: 1px solid #26272d;
    position: relative;
    transform: translate(-30px, 0px);
    z-index: 1;
    opacity: 1;
    visibility: visible;
    @include setTransition;
    &::before {
      content: '';
      position: absolute;
      border-radius: 5px;
      background: #2d3244;
      z-index: -1;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      @include setBgImgLinearGradient;
      opacity: 0;
      @include setTransition;
    }
    &::after {
      content: '';
      position: absolute;
      border-radius: 5px;
      background: #2d3244;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    @include large {
      height: 302px;
      max-width: 420px;
      margin-bottom: calc(302px + 4px);
      padding: 25px 20px;
      transform: translate(15px, 0px);
    }
    @include medium {
      width: calc(100% - 30px);
      max-width: 100%;
      margin-left: 50px;
      margin-bottom: 50px;
      transform: translate(0px, 0px);
    }
    @include small {
      width: calc(100% - 55px);
      max-width: 100%;
      margin-left: 30px;
      margin-bottom: 50px;
      transform: translate(0px, 0px);
      &::before {
        opacity: 1;
      }
    }
    @include extraSmall {
      width: calc(100% - 40px);
      max-width: 100%;
      margin-left: 25px;
      margin-bottom: 30px;
      padding: 20px 20px;
      height: 260px;
      transform: translate(0px, 0px);
      &::before {
        opacity: 1;
      }
    }
    &:nth-child(odd) {
      transform: translate(30px, 278px);
      @include setTransition;
      @include large {
        transform: translate(-15px, 302px);
      }
      @include medium {
        transform: translate(0px, 0px);
        width: calc(100% - 30px);
        max-width: 100%;
        margin-left: 50px;
        margin-bottom: 50px;
      }
      @include small {
        transform: translate(0px, 0px);
        width: calc(100% - 55px);
        max-width: 100%;
        margin-left: 30px;
        margin-bottom: 50px;
        &::before {
          opacity: 1;
        }
      }
      @include extraSmall {
        transform: translate(0px, 0px);
        width: calc(100% - 40px);
        max-width: 100%;
        margin-left: 25px;
        margin-bottom: 30px;
        padding: 20px 20px;
        height: 260px;
        &::before {
          opacity: 1;
        }
      }
      .circle {
        right: inherit;
        left: -60px;
        @include large {
          left: -40px;
        }
        @include medium {
          left: -60px;
        }
        @include small {
          left: -40px;
        }
        @include extraSmall {
          left: -32px;
        }
      }
      .rectangle {
        right: inherit;
        width: 100px;
        left: -50px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgb(70 75 94) 99%, rgb(36 41 58) 100%);
        @include large {
          left: -30px;
          width: 80px;
        }
        @include medium {
          left: -50px;
          width: 80px;
        }
        @include small {
          left: -30px;
          width: 60px;
        }
        @include extraSmall {
          left: -25px;
          width: 50px;
        }
      }
    }
    &:hover {
      &::before {
        opacity: 1;
      }
    }

    .circle {
      display: block;
      width: 18px;
      height: 18px;
      background: $mainColor;
      border-radius: 100%;
      position: absolute;
      top: 50px;
      right: -60px;
      z-index: 2;
      box-shadow: 0 0px 0px 8px #2d3244;
      @include large {
        right: -40px;
      }
      @include medium {
        right: inherit;
        left: -60px;
      }
      @include small {
        right: inherit;
        left: -40px;
      }
      @include extraSmall {
        right: inherit;
        left: -32px;
        width: 14px;
        height: 14px;
      }
    }
    .rectangle {
      position: absolute;
      top: 42px;
      right: -50px;
      height: 34px;
      width: 100px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 1%, rgb(70 75 94) 99%, rgb(36 41 58) 100%);
      @include large {
        right: -30px;
        width: 80px;
      }
      @include medium {
        right: inherit;
        left: -50px;
        width: 80px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgb(70 75 94) 99%, rgb(36 41 58) 100%);
      }
      @include small {
        right: inherit;
        left: -30px;
        width: 60px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgb(70 75 94) 99%, rgb(36 41 58) 100%);
      }
      @include extraSmall {
        right: inherit;
        left: -25px;
        width: 50px;
        height: 30px;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 1%, rgb(70 75 94) 99%, rgb(36 41 58) 100%);
      }
    }
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 216px;
      @include large {
        height: 250px;
      }
      @include extraSmall {
        height: 220px;
      }
      img {
        width: 50px;
        height: 50px;
        margin-top: 5px;
        margin-bottom: 10px;
        opacity: 0.7;
        @include large {
          width: 45px;
          height: 45px;
          margin-bottom: 15px;
        }
        @include extraSmall {
          width: 40px;
          height: 40px;
        }
      }
    }
    h4 {
      position: relative;
      font-size: 26px;
      font-weight: 600;
      color: $mainColor;
      @include extraSmall {
        font-size: 24px;
      }
    }
    p.date {
      font-size: 18px;
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: 600;
      width: 240px;
      height: 50px;
      line-height: 1.3;
      color: $mainTxtColor;
      @include large {
        font-size: 18px;
        height: auto;
      }
      @include extraSmall {
        font-size: 16px;
        height: auto;
      }
      span {
        margin: 0 2px;
        font-family: 'Microsoft JhengHei', -apple-system, '微軟正黑體', Helvetica, Arial, sans-serif;
      }
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      margin-top: 12px;
      color: $minorTxtColor;
      @include large {
        font-size: 16px;
      }
      @include extraSmall {
        font-size: 15px;
      }
    }
  }
}
